.hr-1 {
  width: 150px;
  padding: 1px;
  margin: 0 auto;
  color: rgb(126, 6, 182);
}
.hr-2 {
  width: 30px;
  padding: 3px;
  margin: 0 auto;
  color: rgb(126, 6, 182);
}
.trusted-img-col {
  box-shadow: 0px 5px 10px 0px rgba(222, 196, 196, 0.75);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(222, 196, 196, 0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(222, 196, 196, 0.75);
}
.trusted-img {
  height: 60px;
  width: 200px;
  padding: 10px 20px;
  margin: 5px;
}
.trusted-img:hover {
  filter: grayscale(100%);
}
