.top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  text-decoration: none;
  background-color: rgb(135, 42, 241);
  border-radius: 50%;
  color: white;
}
.top:hover {
  color: white;
}
.top i {
  padding: 10px;
}
