.navbar {
  background-image: linear-gradient(
    to right,
    rgb(135, 42, 241),
    rgb(233, 8, 184)
  );
  box-shadow: 0 1px 10px;
  z-index: 999;
  position: sticky;
  top: 0;
}
.nav-button:hover {
  background-image: linear-gradient(
    to right,
    rgb(135, 42, 241),
    rgb(233, 8, 184)
  );
  color: white;
}
.nav-button-icon {
  background-color: blueviolet;
}
.nav-button:hover i {
  background-color: black;
}
